In [10]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [11]:
os.chdir('C:\\Users\\tommc\\OneDrive\\Documents\\GitHub\\Baseball')
os.listdir()

['366_800020_bundle_archive', 'clean_data.xlsx', 'final_clean_data.xlsx']

In [12]:
data = pd.read_excel('final_clean_data.xlsx')

In [13]:
data

,Unnamed: 0,playerID,yearID,AB,H,2B,3B,HR,SO,BB,total_hits,BA,birthYear,age,last year BA,Last season league avg
0,27187,mayswi01,1970,478,139,15,2,28,90,79,184,0.384937,1931,39,0.364764,0.297649
1,27188,aaronha01,1970,516,154,26,1,38,63,74,219,0.424419,1934,36,0.440585,0.297649
2,27189,bankser01,1970,222,56,6,2,12,33,20,76,0.342342,1931,39,0.330973,0.297649
3,27190,kalinal01,1970,467,130,24,4,16,49,77,174,0.372591,1934,36,0.355263,0.297649
4,27191,boyercl02,1970,475,117,14,1,16,71,41,148,0.311579,1937,33,0.312500,0.297649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23423,50610,walteza01,2014,88,15,2,0,7,32,5,24,0.272727,1989,25,0.310405,0.310405
23424,50611,watkilo01,2014,65,16,3,0,1,16,1,20,0.307692,1989,25,0.310405,0.310405
23425,50612,wheelza01,2014,50,4,1,0,0,24,1,5,0.100000,1990,24,0.310405,0.310405
23426,50613,wheelze01,2014,57,11,0,0,2,12,2,13,0.228070,1987,27,0.310405,0.310405
23427,50614,ynoara01,2014,67,23,6,1,0,9,4,30,0.447761,1987,27,0.310405,0.310405

In [14]:
data.columns

Index(['Unnamed: 0', 'playerID', 'yearID', 'AB', 'H', '2B', '3B', 'HR', 'SO',
       'BB', 'total_hits', 'BA', 'birthYear', 'age', 'last year BA',
       'Last season league avg'],
      dtype='object')

In [15]:
data = data.drop('Unnamed: 0',axis=1)

In [16]:
data

,playerID,yearID,AB,H,2B,3B,HR,SO,BB,total_hits,BA,birthYear,age,last year BA,Last season league avg
0,mayswi01,1970,478,139,15,2,28,90,79,184,0.384937,1931,39,0.364764,0.297649
1,aaronha01,1970,516,154,26,1,38,63,74,219,0.424419,1934,36,0.440585,0.297649
2,bankser01,1970,222,56,6,2,12,33,20,76,0.342342,1931,39,0.330973,0.297649
3,kalinal01,1970,467,130,24,4,16,49,77,174,0.372591,1934,36,0.355263,0.297649
4,boyercl02,1970,475,117,14,1,16,71,41,148,0.311579,1937,33,0.312500,0.297649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23423,walteza01,2014,88,15,2,0,7,32,5,24,0.272727,1989,25,0.310405,0.310405
23424,watkilo01,2014,65,16,3,0,1,16,1,20,0.307692,1989,25,0.310405,0.310405
23425,wheelza01,2014,50,4,1,0,0,24,1,5,0.100000,1990,24,0.310405,0.310405
23426,wheelze01,2014,57,11,0,0,2,12,2,13,0.228070,1987,27,0.310405,0.310405
23427,ynoara01,2014,67,23,6,1,0,9,4,30,0.447761,1987,27,0.310405,0.310405

In [18]:
X = data.drop(['playerID','BA'],axis=1)
y = data.BA
scaler = StandardScaler().fit(X)
X_scaled = scaler.transform(X)

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=.25, random_state=1)

In [20]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [21]:
y_pred = model.predict(X_test)

In [22]:
explained_variance_score(y_test,y_pred)

0.6410811784739455

In [23]:
mean_absolute_error(y_test,y_pred)

0.030809351860754584

In [24]:
lm.intercept_

0.3187075262211585

In [25]:
df_model = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'],)

In [26]:
df_model.sort_values(by='Coefficient',ascending=False)

                         Coefficient
birthYear               1.517972e+11
yearID                  1.490217e+11
age                     4.686673e+10
total_hits              1.735548e+10
H                       1.297182e+10
2B                      2.639338e+09
HR                      2.162077e+09
3B                      5.438463e+08
AB                      1.519086e-01
last year BA            1.408300e-02
Last season league avg  3.154717e-03
BB                      9.595475e-04
SO                      3.129766e-04