In [10]:
import os
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [11]:
os.chdir('C:\\Users\\tommc\\OneDrive\\Documents\\GitHub\\Baseball')
os.listdir()

['366_800020_bundle_archive', 'clean_data.xlsx', 'final_clean_data.xlsx']

In [12]:
data = pd.read_excel('final_clean_data.xlsx')

In [13]:
data

,Unnamed: 0,playerID,yearID,AB,H,2B,3B,HR,SO,BB,total_hits,BA,birthYear,age,last year BA,Last season league avg
0,27187,mayswi01,1970,478,139,15,2,28,90,79,184,0.384937,1931,39,0.364764,0.297649
1,27188,aaronha01,1970,516,154,26,1,38,63,74,219,0.424419,1934,36,0.440585,0.297649
2,27189,bankser01,1970,222,56,6,2,12,33,20,76,0.342342,1931,39,0.330973,0.297649
3,27190,kalinal01,1970,467,130,24,4,16,49,77,174,0.372591,1934,36,0.355263,0.297649
4,27191,boyercl02,1970,475,117,14,1,16,71,41,148,0.311579,1937,33,0.312500,0.297649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23423,50610,walteza01,2014,88,15,2,0,7,32,5,24,0.272727,1989,25,0.310405,0.310405
23424,50611,watkilo01,2014,65,16,3,0,1,16,1,20,0.307692,1989,25,0.310405,0.310405
23425,50612,wheelza01,2014,50,4,1,0,0,24,1,5,0.100000,1990,24,0.310405,0.310405
23426,50613,wheelze01,2014,57,11,0,0,2,12,2,13,0.228070,1987,27,0.310405,0.310405
23427,50614,ynoara01,2014,67,23,6,1,0,9,4,30,0.447761,1987,27,0.310405,0.310405

In [14]:
data.columns

Index(['Unnamed: 0', 'playerID', 'yearID', 'AB', 'H', '2B', '3B', 'HR', 'SO',
       'BB', 'total_hits', 'BA', 'birthYear', 'age', 'last year BA',
       'Last season league avg'],
      dtype='object')

In [15]:
data = data.drop('Unnamed: 0',axis=1)

In [16]:
data

,playerID,yearID,AB,H,2B,3B,HR,SO,BB,total_hits,BA,birthYear,age,last year BA,Last season league avg
0,mayswi01,1970,478,139,15,2,28,90,79,184,0.384937,1931,39,0.364764,0.297649
1,aaronha01,1970,516,154,26,1,38,63,74,219,0.424419,1934,36,0.440585,0.297649
2,bankser01,1970,222,56,6,2,12,33,20,76,0.342342,1931,39,0.330973,0.297649
3,kalinal01,1970,467,130,24,4,16,49,77,174,0.372591,1934,36,0.355263,0.297649
4,boyercl02,1970,475,117,14,1,16,71,41,148,0.311579,1937,33,0.312500,0.297649
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23423,walteza01,2014,88,15,2,0,7,32,5,24,0.272727,1989,25,0.310405,0.310405
23424,watkilo01,2014,65,16,3,0,1,16,1,20,0.307692,1989,25,0.310405,0.310405
23425,wheelza01,2014,50,4,1,0,0,24,1,5,0.100000,1990,24,0.310405,0.310405
23426,wheelze01,2014,57,11,0,0,2,12,2,13,0.228070,1987,27,0.310405,0.310405
23427,ynoara01,2014,67,23,6,1,0,9,4,30,0.447761,1987,27,0.310405,0.310405

In [64]:
X = data.drop(['playerID','BA','yearID','birthYear','Last season league avg'],axis=1)
y = data.BA
scaler = StandardScaler().fit(X)
X_scaled = scaler.transform(X)

In [19]:
X_train,X_test,y_train,y_test = train_test_split(X_scaled,y,test_size=.25, random_state=1)

In [20]:
from sklearn import linear_model
from sklearn.metrics import explained_variance_score,mean_absolute_error
lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [21]:
y_pred = model.predict(X_test)

In [22]:
explained_variance_score(y_test,y_pred)

0.6410811784739455

In [23]:
mean_absolute_error(y_test,y_pred)

0.030809351860754584

In [24]:
lm.intercept_

0.3187075262211585

In [25]:
df_model = pd.DataFrame(abs(lm.coef_), X.columns, columns=['Coefficient'],)

In [26]:
df_model.sort_values(by='Coefficient',ascending=False)

                         Coefficient
birthYear               1.517972e+11
yearID                  1.490217e+11
age                     4.686673e+10
total_hits              1.735548e+10
H                       1.297182e+10
2B                      2.639338e+09
HR                      2.162077e+09
3B                      5.438463e+08
AB                      1.519086e-01
last year BA            1.408300e-02
Last season league avg  3.154717e-03
BB                      9.595475e-04
SO                      3.129766e-04

In [35]:
X_train2 = data[data['yearID']<=2005]

In [36]:
y_train2 = X_train2['BA']

In [53]:
X_train2 = X_train2.drop(['playerID','BA','yearID','Last season league avg','birthYear'],axis =1)

In [54]:
X_train2

        AB    H  2B  3B  HR  SO  BB  total_hits  age  last year BA
0      478  139  15   2  28  90  79         184   39      0.364764
1      516  154  26   1  38  63  74         219   36      0.440585
2      222   56   6   2  12  33  20          76   39      0.330973
3      467  130  24   4  16  49  77         174   36      0.355263
4      475  117  14   1  16  71  41         148   33      0.312500
...    ...  ...  ..  ..  ..  ..  ..         ...  ...           ...
17769  150   31   8   1   1  15   8          41   26      0.332041
17770  126   25   5   1   0  25   6          31   27      0.332041
17771  360   86  13   2  13  96  40         114   23      0.332041
17772   53    7   0   1   0  22   0           8   30      0.332041
17773   58   23  10   0   0  12   3          33   21      0.332041

[17774 rows x 10 columns]

In [34]:
X_train2.columns

Index(['AB', 'H', '2B', '3B', 'HR', 'SO', 'BB', 'total_hits', 'age',
       'last year BA'],
      dtype='object')

In [39]:
y_train2

0        0.384937
1        0.424419
2        0.342342
3        0.372591
4        0.311579
           ...
17769    0.273333
17770    0.246032
17771    0.316667
17772    0.150943
17773    0.568966
Name: BA, Length: 17774, dtype: float64

In [40]:
X_test2 = data[data['yearID']>2005]

In [41]:
y_test2 = X_test2['BA']

In [42]:
X_test2 = X_test2.drop(['playerID','BA','yearID','Last season league avg','birthYear'],axis =1)

In [51]:
X_test2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5654 entries, 17774 to 23427
Data columns (total 10 columns):
AB              5654 non-null int64
H               5654 non-null int64
2B              5654 non-null int64
3B              5654 non-null int64
HR              5654 non-null int64
SO              5654 non-null int64
BB              5654 non-null int64
total_hits      5654 non-null int64
age             5654 non-null int64
last year BA    5654 non-null float64
dtypes: float64(1), int64(9)
memory usage: 485.9 KB

In [44]:
X_test2

        AB    H  2B  3B  HR  SO   BB  total_hits  age  last year BA
17774  165   45  10   0   2  49   13          57   48      0.369099
17775  367   99  23   0  26  51  115         148   42      0.563003
17776  548  135  33   0  21  84   40         189   41      0.377966
17777   53    9   1   0   0  18    7          10   40      0.203125
17778  151   45   5   0   6  16   13          56   38      0.395548
...    ...  ...  ..  ..  ..  ..  ...         ...  ...           ...
23423   88   15   2   0   7  32    5          24   25      0.310405
23424   65   16   3   0   1  16    1          20   25      0.310405
23425   50    4   1   0   0  24    1           5   24      0.310405
23426   57   11   0   0   2  12    2          13   27      0.310405
23427   67   23   6   1   0   9    4          30   27      0.310405

[5654 rows x 10 columns]

In [45]:
y_test2

17774    0.345455
17775    0.403270
17776    0.344891
17777    0.188679
17778    0.370861
           ...
23423    0.272727
23424    0.307692
23425    0.100000
23426    0.228070
23427    0.447761
Name: BA, Length: 5654, dtype: float64

In [55]:
lm2 = linear_model.LinearRegression()
model2 = lm2.fit(X_train2,y_train2)

In [56]:
y_pred2 = model2.predict(X_test2)

In [58]:
explained_variance_score(y_test2,y_pred2)

0.6192457991573772

In [59]:
mean_absolute_error(y_test2,y_pred2)

0.03142272240510225

In [60]:
lm2.intercept_

0.22157677631767797

In [65]:
df_model2 = pd.DataFrame(abs(lm2.coef_), X.columns, columns=['Coefficient'],)

In [66]:
df_model2.sort_values(by='Coefficient',ascending=False)

              Coefficient
last year BA     0.216714
total_hits       0.001905
H                0.000834
AB               0.000827
2B               0.000663
3B               0.000625
HR               0.000217
age              0.000147
BB               0.000035
SO               0.000020